- cultivoActivo = {nombre:'CU 1 de 2015', fecha:'25/04/1984', especie:'Super Skunk', nPlantas:24, notas:'Un parrafo de texto cualquiera', planCultivo:1}

.col-xs-12.col-md-6
	.panel.panel-default
		.panel-heading
			h3 #{cultivoActivo.nombre}
		.panel-body
			ul
				li Nombre: #{cultivoActivo.nombre}
				li Fecha: #{cultivoActivo.fecha}
				li Especie: #{cultivoActivo.especie}
				li Nº de pla: #{cultivoActivo.nPlantas}
				li Notas: #{cultivoActivo.notas}

.col-xs-12.col-md-6
	.panel.panel-default
		.panel-heading
			h3 Planes de cultivo
		.panel-body
			